set_io CLK    49
set_io LED[0] 45
set_io LED[1] 44
set_io LED[2] 43
set_io LED[3] 42
set_io LED[4] 41
set_io LED[5] 39
set_io LED[6] 38
set_io LED[7] 37
# segments a..g on D0..D6
set_io SEG[0] 2
set_io SEG[1] 1
set_io SEG[2] 4
set_io SEG[3] 3
set_io SEG[4] 8
set_io SEG[5] 7
set_io SEG[6] 10
# digit selects: f1 f10 s1 s10 m1 m10 h1 h10 on D7 D8 D9 D10 D11 D12 D13 DD0
set_io DIG[0] 9
set_io DIG[1] 20
set_io DIG[2] 19
set_io DIG[3] 22
set_io DIG[4] 21
set_io DIG[5] 63
set_io DIG[6] 64
set_io DIG[7] 114
